# CityBikes

Send a request to CityBikes for the city of your choice.

In [18]:
import json
import requests
import pandas as pd

baseurl = 'http://api.citybik.es/v2/networks/wienmobil-rad' #The city I chose, Vienna, has its own independent bike network. This simplified things for me here.

r = requests.get(baseurl)
print(r)

jsontest = json.loads(r.text)

prettyjson = json.dumps(jsontest, indent=2) #Make the Json file somewhat understandable
# print(prettyjson)

bikedb = pd.json_normalize(jsontest)

<Response [200]>

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [21]:


def bikedataframe(newdb):
    newdb = pd.DataFrame(columns = ['Station Name', 'Slots', 'Latitude', 'Longitude']) #Setting up the framework for the DataFrame that I want
    stationcount = 0 #For keeping track of the number of stations I was dealing with. Was more useful when first parsing through the data.
    for station in bikedb['network.stations'][0]:
        try: #Each station has its name, number of slots, latitude and longitude extracted. 
            slots = station['extra']['slots']
            latitude = station['latitude']
            longitude = station['longitude']
            stationname = station['name']
            stationcount += 1
            new_row = pd.Series({'Station Name': stationname, 'Slots': slots, 'Latitude': latitude, 'Longitude': longitude}) #A temporary series is created for insertion into the DataFrame
            newdb = pd.concat([newdb, new_row.to_frame().T], ignore_index = True) #pd.concat is used to append the row to the DataFrame
        except:
            continue
    return(newdb)

Put your parsed results into a DataFrame.

In [22]:
emptydataframe = pd.DataFrame()
output = bikedataframe(emptydataframe) #Probably an over complicated way to get a DataFrame out of the GET request, but it works.
output

                          Station Name Slots   Latitude  Longitude
0                    Julius-Raab-Platz    17  48.211544  16.382374
1                          Hoher Markt    25  48.210666  16.372983
2                                 Oper    21  48.202683  16.369702
3                          Volksgarten    15  48.206516    16.3604
4                       Taborstraße U2    23  48.219522  16.382218
..                                 ...   ...        ...        ...
166                       Schönbrunn U     5  48.185845  16.319898
167  Gußhausstraße / Argentinierstraße    21  48.197287  16.371572
168                       Althanstraße    20  48.228936    16.3596
169       Modecenterstraße / The Marks    20  48.184348  16.413837
170                    Am Langen Felde    10  48.250336  16.450206

[171 rows x 4 columns]